* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
  max-width: 100vw;
  background-color:rgba(214, 127, 255, 0.753);
}

.ui {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 3px solid gray;
  margin-bottom: auto;
  margin-top: 5vh;
  padding-top: 20vh;
  width: 50vw;
  height: 10vh;
  padding-inline: 10vw;
  overflow-y: auto;
}
.resultText {
  padding: 0;
  margin: 0;
}

.prompt {
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  margin-block: 5vh;
  background-color:rgb(255, 208, 0);
  border-radius: 0.5vw;
  padding-inline: 3vw;
}

.buttons {
  display: flex;
  justify-content:space-around;
  gap: 10vw;
  align-items: center;
  transition: all 0.1s;
  text-align: center;
}

button {
  background-color: rgb(206, 31, 0);
  border: none;
  color: whitesmoke;
  font-weight: bolder;
  border-radius: 0.5vw;
  font-size: 36px;
  padding: 1vw;
  width: 12vw;
}

button:hover {
  transform:scale(1.1);
  box-shadow: 5px #ffa50088;
  border: 2px solid #ffa50088;
}