* {
  font-family: "Roboto", "Franklin Gothic Medium", Tahoma, sans-serif;
  --bg-light: #eef2ff;
  --bg-light2: #e0e7ff;
  --bg-med: #c7d2fe;
  --bg-med2: #a5b4fc;
  --bg-dark: #818cf8;
  --bg-dark2: #4f46e5;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header, footer {
  height: min(20px);
  display: flex;
  background-color: var(--bg-light2);
  padding-inline: 2rem;
  padding-block: 1rem;
  align-items: center;
}
footer {
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

button {
  padding: 0.5rem;
  border: none;
  background-color: var(--bg-dark);
  color: white;
  font-weight: bold;
  border-radius: 5% 5%;
  box-shadow: none;
  cursor: pointer;
}

.button-list {
  display: flex;
  flex-direction: column;
  width: max-content;
  gap: 2rem;
  align-items: center;
  margin-inline: auto;
  margin-block: 2rem;
}

.image-frame {
  height: 10rem;
  width: 20rem;
  background-color: var(--bg-light);
  overflow: hidden;
}
.long-image-box {
  width: max-content;
}
.slider-image {
  width: 20rem;
  height: auto;
}

.mobile-menu-div {

}

.drop-down-div {
  display: flex;
  flex-direction: column;
  position: fixed;
}

.drop-down-head {
  outline: 1px solid black;
  padding-block: 0.25rem;
  padding-inline: 0.5rem;
}
.drop-down-item {
  display: none;
  position: absolute;
  z-index: 1;
  }

.drop-down-div:hover .drop-down-item {
  display: block;
}